*{
    transition: all 50ms linear;
}

#root{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80vh;
    background-color:gray;

    padding: 20px;
    display: flex;
    align-items: center;

    overflow-x: hidden;
}

.car {
    position: relative;
    width: 100px;
    transform: rotate(-50deg);
}